* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
/* footer */
.d-flex {
    display: flex;
}

.justify-content-center {
    display: flex;
    justify-content: center;
    margin:0
}

.container {
     
    justify-content: space-between;  
     align-items: center; 
    width: 600px;
    height: 500;
    /* max-width: 1120px; */
       
    padding: 0 2rem ;  
   /* margin: 0 auto; */ 
   


}
.container img {
    /* display: flex; */
    margin-left: 200px;
}
.navbar-nav {
    display: flex;
     /* flex-direction: column;  */
     margin-left: 3rem;
     justify-content: space-between;
     margin: auto;
   
}

.nav-link {
    padding: 0;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 400;
   /* margin-left: 2rem; */
   margin: 0 1rem;

}
  
a:hover {
    color: #25E6C8;
    
}
