* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
}
.vh-100 {
    height: 100vh;
    width: 100%;
}

/* Home */
.container-home  {
    background-image: url(images/blue_background_crop.png);
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    max-width:600px;
    padding: 0 1rem;
    margin: 0 auto;
}
.content-home {
    display:flex;
    text-align: center; 
    justify-content: center;
    padding: 1rem;
}
.content2 {
    height: 1rem;

}
.p {
    font-size: 10px;
  }
.container-nav{
    width: 100%;
    padding: 0 0.5rem;
    margin: 0 auto;
}

.navbar-nav {
    display: flex;
    /* flex-direction: column; */
    
}

.nav-link {
    color:white;
    font-size: 0.7rem;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    text-decoration: none;
}
.nav-link-1 {
    color: orange;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Roboto Slab', serif;
    padding: 0;
}
 .btn-video {
    background-image: url(images/icon.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    width: 130px; 
    height: 36px;
    /* object-fit: cover;*/ 
    
  }
  .btn-orng {
    width: 90px; 
    height: 25px;
    background-color: orange;
    color: white;
}
.whitespace {
    height: 100px;
}
/* easy */
.EC { 
    height: 70x;
    width: 50px;
    background-image: url(images/ec-logo-mono.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.md-mobil {
    height: 200px;
    width: 100px;
    /* position: relative; */
    display: none;
    
}


.content1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center; 
    gap: 1rem;
    padding: 5px; 
}
 
.content2 {
    height: 2rem;
    /* width: auto; */

}
 
.content3 {
    width: 100%;
}
/* Application Screen */

.container-mobil { 
    height: 280px;
    width: 150px;
    background-image: url(images/iPhone\ X\ -\ Light.png);
    background-size: cover;
    background-repeat: no-repeat;
   
}
/* Application */
 .stor-number { 
     font-size:1rem;
    font-family: 'Roboto', sans-serif;  
        font-weight: bold;
    color: #3096FE;

}
  .med-text{ 
    font-size: 0.8rem;
   font-family: 'Roboto', sans-serif; 
   
}
 .grid-container {
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
    padding: 5px;
    width: 100%;
  }
  .container-row {
      display: flex;
    }
  
  .Application-contaimer   {
    text-align: center;
     padding: 30px;
    width: 100%;
    background-color: red;
   
    /* font-size: 30px; */
  }




/* #parent { 
    border: 3px solid black;
    height: 400px;
    width: 100%;
    z-index: -1;
}

/* #child { 
    position: relative;
    right: 50px;
    bottom: 50px;
    border: 2px solid #1487FD;
    background-color: #1487FD;
    height: 150px;
    width: 50%;
    transition-property: 



    color: #66caa9;
    display: flex;
    justify-content: center;
}*/



/* Downlod */

/* }  */
    

 /* .mobil img { 
        position: absolute;
        left: 0px;
        bottom:50%;
        z-index: 0;
        display: block;
} */
    
  
 .container-dawnload { 
  
     background-color: #1487FD; 
     color: white; 
        /* background-image: url(images/Mask\ Group\ 1.png); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;   
        /* margin: auto;  
        width: 300;
        height: 300px;*/
    }
     .går-till-höger {
       display: flex;
       margin-right: 10px;
      margin-left: 200px;
     }
     


  /* .container-dawnload .content { 
 padding: 3px;;
   width:350px;
   height: 400px;
   background-color: yellow;
}*/
/* .mobil-bild { 
   height: 400px; 
/* } */
 


/* Contact us */
.content-center {
    margin: auto;
    text-align: center;
    align-items: center;
}


 
/* .container-contact> h4{ 
     text-align: center; 
     margin: 0;
}
    
.container-contact > p{
     /* margin: 0; 
    text-align: center;
    align-items: center; 
}*/

 #textarea {
    resize: none;
}
.btn-blue {
    color: #fff;
    background-color: #3096FE;
    border-color: blue
}
  
.btn-blue:hover {
    color: #fff;
    background-color:#FFBB00;
    border-color:blue;
}
  
.btn-blue:focus, .btn-blue.focus {
    color: #fff;
    background-color:#8A8A8A;
    border-color:blue;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
  
.btn-blue.disabled, .btn-blue:disabled {
    color: #fff;
    background-color: #3096FE;
    border-color: blue;
}
  
.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
    color: #fff;
    background-color: #101111;
    border-color:blue;
}
  
.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

    }
/* .container-contact .btn { 
    background-color: transparent;
    border: 1px solid transparent;
    padding:1rem 2.5rem;
    cursor: pointer;
    font-size: 1.1rem;

    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  
  
}

.container-contact .btn-coral {
    background-color: #3096FE;
    border-color:#FFBB00;
    color:#ffffff;
    box-shadow: 6px 8px 10px #888888;
  display: block;
 margin: 0; 

 
}
.container-contact .btn-coral:hover {
    box-shadow: 3px 1px 5px #888888;
}
*/

/* footer */


/* .d-flex { */
    /* display: flex; */
/* } */

/* .justify-content-center { */
    /* display: flex; */
    /* justify-content: center; */
    /* margin:0 */
/* } */

/* .container { */
     
    /* justify-content: space-between;   */
     /* align-items: center;  */
    /* width: 600px; */
    /* height: 500; */
    /* max-width: 1120px; */
       
    /* padding: 0 2rem ;   */
   /* margin: 0 auto; */ 
   


/* } */
/* .container img { */
    /* display: flex; */
    /* margin-left: 200px; */
/* } */
.navbar-nav {
    display: flex;
       flex-direction: column;  
      /* margin-left: 0.5rem;  */  
      justify-content: space-between; 
       margin: auto;  
    font-size: small;
   
} 

.nav-link {
    padding: 0;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 400;
   /* margin-left: 2rem; */
   margin: 0 1rem;

}
  
a:hover {
    color: #25E6C8;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media  (min-width: 600px) { */
    /* .container-dawnload , .container-contact { */
        /* display: block; */
        /* justify-content: center; */
        /* margin:0; */
    
    /* }  */

    /* } */

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
   
    .container-home  {
        background-image: url(images/blue_background_crop.png);
        /* justify-content: center; */
        background-size: cover;
        background-repeat: no-repeat;
        height:750px;
        max-width:900px;
        /* padding: 0 1rem; */
        /* margin: 0 auto; */
    }
    .content-home {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        /* align-items: center; */
        gap: 1rem; 
    }
    .container3 {
    display: flex;
    /* justify-content: space-between; */
      padding: 0.5rem 1rem; 
     width: 100%; 
     margin: 0 auto; 
    }
    .content3 {
        width: 50%;
    }

    .navbar-nav {
        display: flex;
        color:white
         /* flex-direction: column; */
        
    }
    
    .nav-link {
        color:white;
        font-size: 0.7rem;
        font-family: 'Roboto Slab', serif;
        padding: 0;
        text-decoration: none;
    }
    .nav-link-1 {
        color: orange;
        text-decoration: underline;
        font-size: 0.7rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
    }
    .btn-orng {
        width: 90px; 
        height: 25px;
        background-color: orange;
        color: white;
        font-size: 6;
    
    }
    .EC { 
        height: 60x;
        width: 140px;
        background-image: url(images/ec-logo-mono.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .md-mobil {
        height: 300px;
        width: 150px;
        /* position: relative; */
        display: flex;
        
    }
    .container {   
        /* height: 100%; */
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
         /* margin:auto;  */
        width: 100%;
        padding: 10px;
        /* background-color: green; */
        
    }
    .container-mobil { 
        height: 300px;
        width: 700px;
        background-image: url(images/screen.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: yellow;
    }
       
     .Application-contaimer {
        display: block;
        justify-content: center;
        align-items: center;
       /* margin: auto;  */
        width: 100%;
    }

    .content-center {
        /* margin: auto; */
        text-align: center;
        align-items: center;
    }
    
    

     .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 50px;
        padding: 10px;
        width: 100%;
        justify-content: center;
        align-self: center;
       background-color:rgb(128, 128, 128)
      }
      .container-row {
        display: block;
      }
      .stor-number { 
        font-size:1.7rem;
       font-family: 'Roboto', sans-serif;  
           font-weight: bold;
       color: #3096FE;
   
   }
     .med-text{ 
       font-size: 1rem;
      font-family: 'Roboto', sans-serif; 
      
   }
      
    
    .container-dawnload {
        display: flex;
        /* justify-content: center; */
        /* margin:0; */
    } 
    .App{
        display: flex;
    } 
    .mobil-image {
        display: flex;
        height: auto;
     }
     


    .container-contact { 
     height: 100%;
     display: block;
     justify-content: center;
     align-items:  center;
    } 
     /* footer */
     .navbar-nav {
        display: flex;
        flex-direction: row;  
       justify-content: space-between; 
        margin: auto;  
     font-size: medium;
    }
    .container {
        display: block;
        align-self: center;
    }

    
 }

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 992px) {
    .container-home  {
        background-image: url(images/blue_background_crop.png);
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:700px;
       width: 1220px;
    }
    .content-home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        gap: 1rem;
    }

    .container3 {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0.5rem 1rem; */
    /* width: 100%; */
    /* margin: 0 auto; */
    }
    .navbar-nav {
        display: flex;
        color:white
         /* flex-direction: column; */
        
    }
    
    .nav-link {
        color:white;
        font-size: 1rem;
        font-family: 'Roboto Slab', serif;
        padding: 0;
        text-decoration: none;
    }
    .nav-link-1 {
        color: orange;
        text-decoration: underline;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
    }
    .btn-orng {
        width: 100px; 
        height: 30px;
        background-color: orange;
        color: white;
    
    }
    .container {  
         height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        margin:auto;
        width: 100%;
    }
    .container-mobil { 
        height: 500px;
        width:1200px;
        background-image: url(images/screen.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    
    .Application-contaimer {
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        margin:auto;
        width: 100%;
    }

    .content-center {
        margin: auto;
        text-align: center;
        align-items: center;
    }
    
    
    
    .container-dawnload, container-contact {
        display: flex;
        justify-content: center;
        /* margin:0; */
    } 
    .container-dawnload {
        display: flex;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 50px;
        padding: 10px;
        width: 100%;
        justify-content: center;
        background-color: yellow;
    }
    .container-row {
      display: block;
    }
    .stor-number { 
     font-size: 2rem;
     font-family: 'Roboto', sans-serif;  
     font-weight: bold;
     color: #3096FE;
       
    }
    .med-text{ 
           font-size: 1.5rem;
          font-family: 'Roboto', sans-serif;
    }
    /* footer */
    .navbar-nav {
        display: flex;
        flex-direction:row;  
       justify-content: space-between; 
        margin: auto;  
     font-size: medium;
    }
}