* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
}
.vh-100 {
    height: 100vh;
    width: 100%;
}
/* Home */
.container-home  {
    /* display: flex; */
    background-image: url(C:\Jood---App-Landing-Page\jood\images\ blue_background_crop);
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 600px; */
    /* margin-top: 100px; */
    width: 100%;
}
.whitespace {
    height: 100px;
}

/* #parent { 
    border: 3px solid black;
    height: 400px;
    width: 100%;
    z-index: -1;
}

/* #child { 
    position: relative;
    right: 50px;
    bottom: 50px;
    border: 2px solid #1487FD;
    background-color: #1487FD;
    height: 150px;
    width: 50%;
    transition-property: 



    color: #66caa9;
    display: flex;
    justify-content: center;
}*/



/* Downlod */

/* }  */
    

 .mobil img {
    
        position: absolute;
        left: 0px;
        bottom:50%;
        z-index: 0;
        display: block;
} 
  
 .container-dawnload { 
    /* padding: 1rem 0; */
   /* position: relative;  */
   /* display:flex; */
     background-color: #1487FD; 
     color: white; 
    /* margin-left: 10px; */
     /* width: 100%; */
 } 

 /* container-dawnload .box-downlod2 {  */
    /* display: flex; */
    /* } */






/* Contact us */
.content-center {
    margin: auto;
    text-align: center;
    align-items: center;
}


 
/* .container-contact> h4{ 
     text-align: center; 
     margin: 0;
}
    
.container-contact > p{
     /* margin: 0; 
    text-align: center;
    align-items: center; 
}*/

 #textarea {
    resize: none;
}
.btn-blue {
    color: #fff;
    background-color: #3096FE;
    border-color: blue
}
  
.btn-blue:hover {
    color: #fff;
    background-color:#FFBB00;
    border-color:blue;
}
  
.btn-blue:focus, .btn-blue.focus {
    color: #fff;
    background-color:#8A8A8A;
    border-color:blue;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
  
.btn-blue.disabled, .btn-blue:disabled {
    color: #fff;
    background-color: #3096FE;
    border-color: blue;
}
  
.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
    color: #fff;
    background-color: #3096FE;
    border-color:blue;
}
  
.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

    }
/* .container-contact .btn { 
    background-color: transparent;
    border: 1px solid transparent;
    padding:1rem 2.5rem;
    cursor: pointer;
    font-size: 1.1rem;

    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  
  
}

.container-contact .btn-coral {
    background-color: #3096FE;
    border-color:#FFBB00;
    color:#ffffff;
    box-shadow: 6px 8px 10px #888888;
  display: block;
 margin: 0; 

 
}
.container-contact .btn-coral:hover {
    box-shadow: 3px 1px 5px #888888;
}
*/

/* footer */


/* .d-flex { */
    /* display: flex; */
/* } */

/* .justify-content-center { */
    /* display: flex; */
    /* justify-content: center; */
    /* margin:0 */
/* } */

/* .container { */
     
    /* justify-content: space-between;   */
     /* align-items: center;  */
    /* width: 600px; */
    /* height: 500; */
    /* max-width: 1120px; */
       
    /* padding: 0 2rem ;   */
   /* margin: 0 auto; */ 
   


/* } */
/* .container img { */
    /* display: flex; */
    /* margin-left: 200px; */
/* } */
.navbar-nav {
    display: flex;
       flex-direction: column;  
      /* margin-left: 0.5rem;  */  
      justify-content: space-between; 
       margin: auto;  
    font-size: small;
   
} 

.nav-link {
    padding: 0;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 400;
   /* margin-left: 2rem; */
   margin: 0 1rem;

}
  
a:hover {
    color: #25E6C8;
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media  (min-width: 600px) { */
    /* .container-dawnload , .container-contact { */
        /* display: block; */
        /* justify-content: center; */
        /* margin:0; */
    
    /* }  */

    /* } */

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container-dawnload {
        display: flex;
        justify-content: center;
        /* margin:0; */
    } 
    .App{
        display: flex;
    } 
    .mask {
        display: flex;
    } 

    .container-contact { 
     height: 100%;
     display: block;
     justify-content: center;
     align-items:  center;
    } 
     /* footer */
     .navbar-nav {
        display: flex;
        flex-direction: row;  
       justify-content: space-between; 
        margin: auto;  
     font-size: medium;
    }
    
 }

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 992px) {
    
    .container-dawnload, container-contact {
        display: flex;
        justify-content: center;
        /* margin:0; */
    
    }  
    /* footer */
    .navbar-nav {
        display: flex;
        flex-direction:row;  
       justify-content: space-between; 
        margin: auto;  
     font-size: medium;
    }
}